.leftnav{
    float: left;
    width: auto;
    margin: 2%;
    color: black;
    margin-left: 3%;
    font-weight: bold;
}
.leftnavsub{
    float: left;
    width: auto;
    margin: 2%;
    color: black;
    margin-left: 3%;
}

.rightnav{
    float: right;
    margin: 2%;
    color: white;
    position: relative;
}

.top{
    
}

.navbar{

}

.navim{
    float: right;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0% !important;
    left: 50%;
    z-index: -30;
}

body{
    margin: 0%;
}

.rtnavim{
    width: 100%;
    height: 100%;
}


.bottom{
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
}

.heading{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.content-image {
    width: 400px;
    height: 558px;
    position: relative;
}

* {
    box-sizing: border-box;
  }

.content{
    display: flex;
    justify-content: center;
    padding: 0 10vw;
    gap: 2vw;
    flex-wrap: wrap;
}

.sidecontent{
    text-align: center;
    margin-top: 200px;
    margin-right: 100px;
}

.btn{
    background-color: black;
    color: white;
    width: 120px;
    float: left;
    padding: 8px 16px;
    overflow: hidden;
    text-align: center;
    margin: 2%;
    margin-left: 5%;
}


.content-text {
    position: absolute;
    bottom: -26px;
    color: black;
    background-color: rgb(190, 189, 189);
    font-weight: bold;
    padding: 3px;
    left: calc(60% - 79.125px);
}

.navbar-mob{
    visibility: hidden;
}


@media screen and (max-width:1200px)
{
    .content-text{
        color: green;
    }

    .navbar{
        visibility: hidden;
    }

    .navim{
        visibility: hidden;
    }

    .navbar-mob{
        visibility: visible;
        background-color: white;
        box-shadow: 5px;
    }

    .hamburger-icon{
        float: left;
        width: auto;
        margin: 2%;
        color: black;
        margin-left: 3%;
        background-color: white;
        border: none;
    }

    .rightnav{
        color: black;
        font-weight: bold;
    }
}