<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body id="theBody">
    <div class="main">
        <div class="top">
            <img src="../static/images/jatniel-tunon-D4f5wkW9H9U-unsplash.jpg" alt="navimage" class="navim">
            <div class="navbar" id="topnav">
                <a href="#" class="active"><p class="leftnav">NAME</p></a>
                <a href="#"><p class="rightnav">OTHER</p></a>
                <a href="#"><p class="rightnav">CONTACT</p></a>
                <a href="#"><p class="rightnav">INSIGHTS</p></a>
                <a href="#"><p class="rightnav">ABOUT</p></a>
                <a href="#"><p class="rightnav">SHOP</p></a>
                <a href="#"><p class="rightnav">HOME</p></a>
            </div>
            <div class="navbar-mob" id="topnav">
                <button class="hamburger-icon" onclick="openMenu()">
                    <img src="../static/images/hamburger.svg" alt="">
                </button>
                <p class="leftnav">NAME</p>
                
                <p class="rightnav">OPTION</p>
            </div>
            <div class=" leftnavsub sidecontent">
                <h1>Lorem ipsum</h1>
                <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit</p>
                <button type="button" class="btn">VIEW MORE</button>
            </div>
        </div>
        <div class="bottom">
            <div class="heading">
                <h1>Lorem ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit</p>
            </div>
            <div class="content">
                <div class="content-image">
                    <img src="../static/images/jatniel-tunon-D4f5wkW9H9U-unsplash-crop.png" style="width: 100%;" alt="contentimage">
                    <p class="content-text">CONTENT</p>
                </div>
                <div class="content-image">
                    <img src="../static/images/jatniel-tunon-D4f5wkW9H9U-unsplash-crop.png" style="width: 100%;" alt="contentimage">
                    <p class="content-text">CONTENT</p>
                </div>
                <div class="content-image">
                    <img src="../static/images/jatniel-tunon-D4f5wkW9H9U-unsplash-crop.png" style="width: 100%;" alt="contentimage">
                    <p class="content-text">CONTENT</p>
                </div>
                <p style="clear: both;"></p>
            </div>
        </div>
    </div>
</body>
</html>